@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body{
  font-family: 'Comic Neue';
}

/* Add this to your App.css */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0C7C59;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #58A4B0;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #56c7d8;
}
